{% extends "base.html" %}
{% block content %}

<h2>{{ page_title }}</h2>
<p>
    There have been many Greek gods mentioned across thousands of stories in Greek mythology, from the Olympian gods
    all the way down to the many minor gods.
    The gods, much like the Greek goddesses of history, have very exaggerated personalities and they are plagued with
    personal flaws and negative emotions despite they immortality and superhero-like powers.
</p>

{% for greekGod in gods %}

{% if loop.index % 2 != 0 %}

<div class="row featurette">
    <div class="col-md-7">
        <h3>{{ loop.index }}. {{ greekGod["name"] }}</h3>
        <p>
            {{ greekGod["description"] }}
        </p>
    </div>
    <div class="col-md-5">
        <img src="{{ greekGod.image_source }}" alt="" class="featurette-image image-responsive">
    </div>
</div>

{% else %}

<div class="row featurette">
    <div class="col-md-5">
        <img src="{{ greekGod.image_source }}" alt="" class="featurette-image image-responsive">
    </div>
    <div class="col-md-7">
        <h3>{{ loop.index }}. {{ greekGod["name"] }}</h3>
        <p>
            {{ greekGod["description"] }}
        </p>
    </div>
</div>


{% endif %}
<hr class="featurette-divider">

{% endfor %}

{% endblock %}